@* @model List<ProductModel> *@
@model DataTable;
@using System.Data;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Product Table</h5>

        <div class="mb-3">
            <a href="@Url.Action("Create", "Product")" class="btn btn-success">
                <i class='bx bx-plus-circle bx-sm'></i> 
            </a>
        </div>
        <h6 class="text-danger">@TempData["Error Message"]</h6>

        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ProductID</th>
                    <th scope="col">ProductName</th>
                    <th scope="col">ProductPrice</th>
                    <th scope="col">ProductCode</th>
                    <th scope="col">Description</th>
                    <th scope="col">UserID</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {

                    <tr>
                        <th scope="row">@row["ProductID"]</th>
                        <td>@row["ProductName"]</td>
                        <td>@row["ProductPrice"]</td>
                        <td>@row["ProductCode"]</td>
                        <td>@row["Description"]</td>
                        <td>@row["UserID"]</td>
                        <td>@row["UserName"]</td>

                        <td>
                                 <a asp-action="Create" asp-route-ProductID="@row["ProductID"]" class="btn btn-primary btn-sm">
                                    <i class='bx bx-pencil bx-sm'></i>
                                </a>
                                <a class="btn btn-danger btn-sm"
                               asp-controller="Product" asp-action="ProductDelete" asp-route-ProductID="@row["ProductID"]" onclick="return deleteBills()">
                                    <i class='bx bx-trash bx-sm'></i>
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    function deleteBills() {
        return confirm("Are you Sure You Want Delete The Record?");
    }
</script>